Django==4.2.30
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
gunicorn==25.3.0
psycopg[binary]==3.2.4
dj-database-url==2.1.0
whitenoise==6.6.0
pymongo==4.16.0
google-generativeai==0.8.6
python-dotenv==1.2.2
requests==2.33.1
PyJWT==2.12.1
cryptography==44.0.3
